<div id="photo_img">
	<div id="picture" class="text-center container-fluid mt-3">
		<div class="card general-card">
			<img class="card-img-top" src="/assets/pictures/<%= @profile_picture.src%>" id="<%= @profile_picture.id %>"/>
			<div class="card-body">
				<% if  @profile_picture.src != Picture.root_name && current_user.id == @user.id %>
					<button type="button" class="btn btn-secondary profile_picture"> <i class="fa fa-star"></i></button>
					<button type="button" class="btn btn-danger delete_picture"><i class="fa fa-trash"></i></button>
			</div>
		<% elsif @profile_picture.src != Picture.root_name %>
		</div>
		<div class="card-footer">	
			<p class="text-muted">
			report this picture with <a href="#" class="text-reset">this link</a>.
			</p>
		</div>
	<% end %>
	</div>
	<% @pictures.each do |pic| %>
		<div class="card general-card">
			<img class="card-img-top" src="/assets/pictures/<%= pic.src%>" id="<%= pic.id %>"/>
			<div class="card-body">
				<% if  current_user.id == @user.id %>	
					<button type="button" class="btn btn-info profile_picture"><i class="fa fa-star"></i> </button>
					<button type="button" class="btn btn-danger delete_picture"><i class="fa fa-trash"></i></button>
				<% else %>					<div class="card-footer">	
						<p class="text-muted">
						report this picture with <a href="#" class="text-reset">this link</a>.
						</p>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
</div> <!-- those two div are great -->
</div> <!-- those two div are great -->

<% if @user.id == current_user.id && @pictures.size < 4 %>
	<div class="input-group container-fluid mt-3">
		<div class="input-group-prepend">
			<span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
		</div>
		<div class="custom-file">
			<input type="file" accept="image/jpg|image/png|image/jpeg" class="custom-file-input" id="inputGroupFile01" onchange="handle_file()" aria-describedby="inputGroupFileAddon01">
			<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
		</div>
	</div>
<% end %>
