<% unless user_logged_in? %>
<form action="forgot_password" method="post" accept-charset="utf-8">
	<input type=hidden name='authenticity_token' value="<%=env['rack.session'][:csrf]%>">
	<p>Email</p>
	<input  class="form-control" type="email" value="" name="email" id="email"/>
	<input class="btn btn-primary mb-2" type="submit" value="OK" />
</form>
<% end %>