<% unless user_logged_in? %>
<form action="forgot_password" method="post" accept-charset="utf-8">
	<input type=hidden name='authenticity_token' value="<%=env['rack.session'][:csrf]%>">
	<input type="email" value="" name="email" id="email"/>
	<input type="submit" value="OK" />
</form>
<% end %>