<% unless user_logged_in? %>
	<div>
		<a href="/registration/sign_up" target="_top">Cree toi ton compte de matcheur fou</a>
		<a href="/registration/login" target="_top">Connecte toi le matcheur fou</a>
	</div>
<% end %>
