
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title> <%= title %> </title>
	</head>
	<body>

		<% flash.keys.each do |type| %>
			<div data-alert class="flash <%= type %> alert-box radius">
				<%= flash[type] %>
				<a href="#" class="close" onclick="this.parentNode.hidden = true">&times;</a>
			</div>
		<% end %>

		<%= yield  %>

		<script charset="utf-8">
var exampleSocket = new WebSocket("ws://localhost:4567/user/chat");
exampleSocket.onopen = function (event) {
  exampleSocket.send("Voici un texte que le serveur attend de recevoir dès que possible !"); 
  };
  exampleSocket.onmessage = function (event) {
 console.log(event);
  };
		</script>
	</body>
</html>
