<form action="registrate" method="post" accept-charset="utf-8">
	<input type=hidden name='authenticity_token' value="<%=env['rack.session'][:csrf]%>">
	<input type="email" value="" name="user[email]" id="email_matcha"/>
	<input type="password" value="" name="user[password]" id=""/>
	<input type="submit" value="OK" />
</form>
<a href="http://localhost:4567/forgot_password">Forgot Password ?</a>