
<form action="/token/reset_password" method="post">
  <input type=hidden name='authenticity_token' value="<%=env['rack.session'][:csrf]%>">  
  <input type=hidden name='user[token_password]' value="<%=params['token']%>">
  <label>password</label>
  <input type="password" value="" name="user[password]" id=""/> 
  <label>confirm password</label>
  <input type="password" value="" name="user[confirm_password]" id=""/> 
        <input type="submit" value="OK" />
</form>
