
<form action="/token/reset_password" method="post">
  <input type=hidden name='authenticity_token' value="<%=env['rack.session'][:csrf]%>">  
  <input type=hidden name='user[token_password]' value="<%=params['token']%>">
  <div class="row">
	<div class="col">
  <label>password</label>
  <input type="password" value="" name="user[password]" id=""/> 
  </div>
  <div class="col">
  <label>confirm password</label>
  <input type="password" value="" name="user[confirm_password]" id=""/> 
  </div>
        <input class="btn btn-primary mb-2" type="submit" value="OK" />
</form>
