<% #if user own profile show form %>

<% if current_user.id == @user.id %>
	<link rel="stylesheet" href="/assets/stylesheets/profile.css"  media="screen" charset="utf-8">
<% end %>

<%= erb :"_show_img.html", layout: nil%>

<h2>Biographie</h2>
<div>
	<% if current_user.id == @user.id %>
		<p id="biography" contenteditable='true'><%= h(@user.biography) %></p>
		<input type='submit' value="save">
	<% else %>
		<p><%= h(@user.biography) %></p>
	<% end %> 
</div>
<% if current_user.id == @user.id %>
	<script charset="utf-8" src="/assets/javascript/profile.js"></script>
<% end %>
