<form action="/" method="post" accept-charset="utf-8"> <!---  il manque l'action ---->
	<input type=hidden name='authenticity_token' value="<%=env['rack.session'][:csrf]%>">
	<input type="password" value="" name="user[password]" id=""/>
	<input type="password" value="" name="user[password-bis]" id=""/>
	<input type="submit" value="OK" />
</form>
