<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>User.html</title>
	</head>
	<body>
		<form action="user/user_create" method="post" accept-charset="utf-8">
			<label>first_name</label>
			<input type="text" value="" name="user[first_name]" id=""/>	
			<label>last_name</label>
			<input type="text" value="" name="user[last_name]" id=""/>	
			<label>password</label>
			<input type="password" value="" name="user[password]" id=""/>	
			<label>confirm password</label>
			<input type="password" value="" name="user[confirm_password]" id=""/>	
			<label>email</label>
			<input type="email" value="" name="user[email]" id="" placeholder="email"/>	
			<label>age</label>
			<input type="numeric" value="" name="user[age]" id=""/>	
			<label>sex</label>
			<select name="user[sex]" id="user[sex]" multiple size="1">
				<option value="man">man</option>
				<option value="woman">woman</option>
			</select>
			<label>interest</label>
			<div>
				<input type="checkbox" value="man" name="user[interest1]" id=""/>
				<label>man</label>
			</div>
			<div>
				<input type="checkbox" value="woman" name="user[interest2]" id=""/>	
				<label>woman</label>
			</div>
			<input type="submit" value="OK" />		
		</form>

		<script charset="utf-8">
var exampleSocket = new WebSocket("ws://localhost:4567/user/chat");
exampleSocket.onopen = function (event) {
  exampleSocket.send("Voici un texte que le serveur attend de recevoir dès que possible !"); 
  };
  exampleSocket.onmessage = function (event) {
 console.log(event);
  };
		</script>
	</body>
</html>
