
.invisible {
	display: none;
}

.dropdown-menu {
	max-height: 23vh;
	overflow: hidden auto;
	width: 11vw;
}

.dropdown-menu p{
	font-size: 0.9vw;
}

#possible_conv_match.card-body {
	display: block!important;
}

textarea {
	resize: none;
	height: unset;
}


a.icon {
	background-color: grey;
	border-radius: 15px;
	margin-left: 10px;
}

div.card-footer {
	display: flex;
	justify-content: space-around;
}

body {
	padding-top: 56px;
}

.success {
	background-color: green;

}

.error {
	background-color: red;
}

#notif_wrapper {
	display: flex;
	left: 80%;
	align-content: end;
	width: 20vw;
	position: fixed;
	bottom: 10%;
	flex-direction: column;
}

#messenger {
	bottom: 0;
	position: fixed;
	height: 0px;
	/*width: 100%; */
	display: flex;
	right: 0%;
}

#messenger .card-body{
	display: block;
}
#badge_chat_left{
	max-width: 75%;
	margin-right: 100%;
}

#badge_chat_right{
	max-width: 75%;
	margin-left: 100%;
}

#messenger .card {
	width: 250px;
	bottom: 25vh;
	height: 25vh;
	margin-left: 1vw;
}

#message_sender_invisible {
	position: relative;
	float: left;
}


#messenger .card-header {
	padding: 0;
	display: flex;
	justify-content: space-between ;
}

#messenger .card-footer {
	padding: 0;
}
#messenger .card-body {
	height: 200px;
	overflow: auto;
	padding: 0;
}

p[id="biography"] {
	height: 20vh;
	word-wrap: break-word;
	overflow: auto;
}


.grid-container {
	max-width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: ". text text text ." ". text text text ." ". text text text ." ". checkbox checkbox checkbox ." ". . . . .";
}

.checkbox { 
	grid-area: checkbox;
	display: inline;
	max-width: 500px; 
}

.text { 
	grid-area: text;
	max-width: 500px; 
}

@media (max-width: 700px) {
	#notif_wrapper {
		width: 100%;
		bottom: 0%;
		left: unset;
	}

	#messenger {
		display: none;
	}
}
