
.general-card{
max-width: 450px;
}

#picture {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card-body {
	display: flex;
	justify-content: space-between;
}

#map {
	height: 30vh;
	width: 75%;
	margin-bottom: 5vh;
}

#legend {
    padding: 3vw;
    margin: 3vw;
  }
